.gemini/
.gitignore
# ##############################################################################
# Flutter/Dart
# ##############################################################################
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Symbolication related
app.*.symbols
app.*.map.json

# ##############################################################################
# Android
# ##############################################################################
android/**/generated/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
android/*.jks
android/*.keystore
android/*.p12
android/*.pfx
android/*.realm

# ##############################################################################
# iOS/macOS
# ##############################################################################
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/App.podspec
ios/Pods/
**/doc/api/
**/ios/Flutter/.last_build_id
.DS_Store
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
xcuserdata/

# ##############################################################################
# Web
# ##############################################################################
lib/generated_plugin_registrant.dart

# ##############################################################################
# IDEs & Tools
# ##############################################################################
.idea/
*.iml
*.iws
*.ipr
.vscode/
.history
.factorypath
.project
.settings/
.classpath

# ##############################################################################
# Miscellaneous
# ##############################################################################
*.class
*.log
*.pyc
*.swp
*~
.atom/
.buildlog/
.svn/

# Local databases & Temporary files
*.db
*.db-journal
*.sqlite
/assets/temp/
/temp_history/

# ##############################################################################
# Secrets
# ##############################################################################
.env
.env.*
! .env.example
